/* ---- FOR CHANGING ICON SIZES ---- */
.glyphicon-home, .glyphicon-music, .glyphicon-headphones, .glyphicon-list, .glyphicon-user {
    font-size: 25px;
    margin-left: -2px; /* <-- to center icons in buttons -- */
}
/* ---- FOR CHANGING ICON SIZES ---- */

html, body {
    height: 100%;
    background-color: pink;
}

/* ---- JW-PLAYER ---- */
.album {
    height: 90%;
}

#myElement {
    width: 100% !important;
    height: 100% !important;
}

.jw-dock, .jw-icon-rewind, .jw-icon-volume, .jw-icon-fullscreen {
    display: none !important;
}
/* ---- JW-PLAYER ---- */

/*
#myElement > .jw-controls > .jw-controlbar {
    display: none !important;
}
*/

/* ---- FOR REMOVING BOOTSTRAP PADDINGS/MARGINS ---- */
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
/* ---- FOR REMOVING BOOTSTRAP PADDINGS/MARGINS ---- */

.container1 {
    width: 100%;
    height: 100%;
    margin: auto;
    /*  background-color: rgb(60, 60, 60); */
    /* ---- tekee taustakuvan ---- */
    background: url("../images/traydark.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* ---- tekee taustakuvan ---- */
}

.menubar {
    height: 10%;
    min-height: 60px;
}

.menubar > .col {
    height: auto;
    width: 20%;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    background-color: black;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.homebtn:hover, .browsebtn:hover, .playerbtn:hover, .playlistbtn:hover, .biobtn:hover {
    background-color: gray !important;
}

button:focus {
    outline: none;
}

.btntext {
    margin: 0;
}


.home, .browse, .playlist, .bio {
    display: none;
}

.albumcover {
    width: 100%;
    height: auto;
}

/* ---- HOME DIV ---- */
.home img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 3em;
    width: 95%;
    display: block;
}

.info {
    color: #FFF;
    background-color: rgb(0, 0, 0); /* fallback color for non supportive browsers */
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0.2em 1em 0.2em 1em; 
}

.info p {
    padding: 0.2em 0.2em 0.2em 0.2em; 
    text-align: center;
}
/* ---- HOME DIV ---- */

/* ---- BROWSE DIV ---- */
.epcover {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.ep1, .ep2 {
    color: #FFF;
    background-color: rgb(0, 0, 0); /* fallback color for non supportive browsers */
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.ep1piilo, .ep2piilo {
    color: #FFF;
    background-color: rgb(0, 0, 0); /* fallback color for non supportive browsers */
    background-color: rgba(0, 0, 0, 0.4);
}

.ep1piilo > p, .ep2piilo > p {
    margin: 0;
    padding: 0.5em;
}

#alas1, #alas2 {
    cursor: pointer;
}
/* ---- BROWSE DIV ---- */

/* ---- MEDIA QUERIES ---- */
/* Extra small devices (portrait phones, less than 576px)*/
@media only screen and (min-width: 575px) {
    .container1 {
        background-color: black;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (min-width: 767px) {
    .container1 {
        background-color: red;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media only screen and (min-width: 991px) {
    .container1 {
        background-color: yellow;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (min-width: 1199px) {
    .container1 {
        background-color: green;
    }
}
/* ---- MEDIA QUERIES ---- */